<div class="container-fluid">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>1. <span translate="oym.info.faq.title.1"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<span translate="oym.info.faq.sub.1.1"></span>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>2. <span translate="oym.info.faq.title.2"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<div><span translate="oym.info.faq.sub.2.1"></span></div>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>3. <span translate="oym.info.faq.title.3"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<div><span translate="oym.info.faq.sub.3.1"></span></div>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>4. <span translate="oym.info.faq.title.4"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<div><span translate="oym.info.faq.sub.4.1"></span></div>
			<div><span translate="oym.info.faq.sub.4.2"></span></div>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>5. <span translate="oym.info.faq.title.5"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<div><span translate="oym.info.faq.sub.5.1"></span></div>
			<div><span translate="oym.info.faq.sub.5.2"></span></div>
			<div><span translate="oym.info.faq.sub.5.3"></span></div>
			<div><span translate="oym.info.faq.sub.5.4"></span></div>
			
			<br>
			
			<div><span translate="oym.info.faq.sub.5.5"></span></div>
			<div><span translate="oym.info.faq.sub.5.6"></span></div>
			<div><span translate="oym.info.faq.sub.5.7"></span></div>
			<div><span translate="oym.info.faq.sub.5.8"></span></div>
			
			<br>
			
			<div>
				<span translate="oym.info.faq.sub.5.9"></span> 
				<a href="{{'oym.info.faq.sub.5.10' | translate}}" target="_blank"><span translate="oym.info.faq.sub.5.10" style="word-wrap: break-word"></span></a>
			</div>
			
			<br>
			
			<div><span translate="oym.info.faq.sub.5.11"></span></div>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>6. <span translate="oym.info.faq.title.6"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<span translate="oym.info.faq.sub.6.1"></span>
		</div>
	</div>
</div>