<div class="container-fluid">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>1. <span translate="oym.info.order.guide.title.1"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<span translate="oym.info.order.guide.sub.1.1"></span>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>2. <span translate="oym.info.order.guide.title.2"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<div><span translate="oym.info.order.guide.sub.2.1"></span></div>
			
			<br>
			
			<div><strong>2.1 <span translate="oym.info.order.guide.sub.2.2"></span></strong></div>
			
			<br>
			
			<div><span translate="oym.info.order.guide.sub.2.3"></span></div>
			<div><span translate="oym.info.order.guide.sub.2.4"></span></div>
			<div><span translate="oym.info.order.guide.sub.2.5"></span></div>
			<div><span translate="oym.info.order.guide.sub.2.6"></span></div>
			
			<br>
			
			<div><span translate="oym.info.order.guide.sub.2.7"></span></div>
			
			<hr>
			
			<div><strong>2.2 <span translate="oym.info.order.guide.sub.2.8"></span></strong></div>
			
			<br>
			
			<div><span translate="oym.info.order.guide.sub.2.9"></span></div>
			
			<br>
			
			<div><span translate="oym.info.order.guide.sub.2.10"></span></div>
			
			<br>
			
			<div><span translate="oym.info.order.guide.sub.2.11"></span></div>
			
			<hr>
			
			<div><strong>2.3 <span translate="oym.info.order.guide.sub.2.12"></span></strong></div>
			
			<br>
			
			<div><span translate="oym.info.order.guide.sub.2.13"></span></div>
			
			<br>
			
			<div><span translate="oym.info.order.guide.sub.2.14"></span></div>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>3. <span translate="oym.info.order.guide.title.3"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<span translate="oym.info.order.guide.sub.3.1"></span>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>4. <span translate="oym.info.order.guide.title.4"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<span translate="oym.info.order.guide.sub.4.1"></span>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>5. <span translate="oym.info.order.guide.title.5"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<span translate="oym.info.order.guide.sub.5.1"></span>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>6. <span translate="oym.info.order.guide.title.6"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<span translate="oym.info.order.guide.sub.6.1"></span>
		</div>
	</div>
</div>