<div class="container-fluid">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>1. <span translate="oym.info.contact.title.1"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<span translate="oym.info.contact.sub.1.1"></span>
			<br>
			<br>
			<b><span translate="oym.property.name.mobile"></span></b>
			<br>
			<span translate="oym.property.name.owner"></span>: <span translate="oym.property.contact.mobile.owner"></span>
			<br>
			<br>
			<b><span translate="oym.property.name.whatsapp"></span></b>
			<br>
			<span translate="oym.property.name.owner"></span>: <span translate="oym.property.contact.whatsapp.owner"></span>
			<br>
			<br>
			<b><span translate="oym.property.name.line"></span></b>
			<br>
			<span translate="oym.property.name.cs"></span>: <span translate="oym.property.contact.line.cs.1"></span>
			<br>
			<br>
			<b><span translate="oym.property.name.email"></span></b>
			<br>
			<span translate="oym.property.name.cs"></span>: <span translate="oym.property.contact.email.cs.1"></span>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>2. <span translate="oym.info.contact.title.2"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<span translate="oym.info.contact.sub.2.1"></span>
			<br>
			<br>
			<b><span translate="oym.property.name.ig"></span></b>
			<br>
			<a href="{{'oym.property.contact.ig.cs.1' | translate}}" target="_blank"><span translate="oym.property.contact.ig.cs.1" style="word-wrap: break-word"></span></a>
			<br>
			<br>
			<b><span translate="oym.property.name.fb"></span></b>
			<br>
			<a href="{{'oym.property.contact.fb.cs.1' | translate}}" target="_blank"><span translate="oym.property.contact.fb.cs.1" style="word-wrap: break-word"></span></a>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<b>3. <span translate="oym.info.contact.title.3"></span></b>
			</div>
		</div>
		<div class="panel-body">
			<div><span translate="oym.info.contact.sub.3.1"></span></div>
			<br>
			<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key=AIzaSyDD6H_AW3JM9z-3WmGrPz_lGidbJIUVEfA">
				<ng-map center="[22.337216, 114.145655]">
					<marker position="[22.337216, 114.145655]"></marker>
				</ng-map>
			</div>
		</div>
	</div>	
</div>