<div class="container-fluid">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<strong>1. <span translate="oym.info.terms.title.1"></span></strong>
			</div>
		</div>
		<div class="panel-body">
			<div><strong>1.1 <span translate="oym.info.terms.sub.1.1"></span></strong></div>
			
			<br>
			
			<div><span translate="oym.info.terms.sub.1.1.1"></span></div>
			
			<hr>
		
			<div><strong>1.2 <span translate="oym.info.terms.sub.1.2"></span></strong></div>
			
			<br>

			<div><span translate="oym.info.terms.sub.1.2.1"></span></div>

			<hr>
			
			<div><strong>1.3 <span translate="oym.info.terms.sub.1.3"></span></strong></div>
			
			<br>

			<div><span translate="oym.info.terms.sub.1.3.1"></span></div>

			<hr>
			
			<div><strong>1.4 <span translate="oym.info.terms.sub.1.4"></span></strong></div>
			
			<br>

			<div><span translate="oym.info.terms.sub.1.4.1"></span></div>

			<hr>
			
			<div><strong>1.5 <span translate="oym.info.terms.sub.1.5"></span></strong></div>
			
			<br>

			<div><span translate="oym.info.terms.sub.1.5.1"></span></div>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<strong>2. <span translate="oym.info.terms.title.2"></span></strong>
			</div>
		</div>
		<div class="panel-body">

			<div><strong>2.1 <span translate="oym.info.terms.sub.2.1"></span></strong></div>

			<br>
			
			<div><span translate="oym.info.terms.sub.2.1.1"></span></div>

			<hr>
			
			<div><strong>2.2 <span translate="oym.info.terms.sub.2.2"></span></strong></div>

			<br>
			
			<div><span translate="oym.info.terms.sub.2.2.1"></span></div>

			<hr>
			
			<div><strong>2.3 <span translate="oym.info.terms.sub.2.3"></span></strong></div>

			<br>
			
			<div><span translate="oym.info.terms.sub.2.3.1"></span></div>

			<hr>
			
			<div><strong>2.4 <span translate="oym.info.terms.sub.2.4"></span></strong></div>

			<br>
			
			<div><span translate="oym.info.terms.sub.2.4.1"></span></div>

			<hr>
			
			<div><strong>2.5 <span translate="oym.info.terms.sub.2.5"></span></strong></div>

			<br>
			
			<div><span translate="oym.info.terms.sub.2.5.1"></span></div>

		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="panel-title">
				<strong>3. <span translate="oym.info.terms.title.3"></span></strong>
			</div>
		</div>
		<div class="panel-body">
			<div><strong>3.1 <span translate="oym.info.terms.sub.3.1"></span></strong></div>

			<br>
			
			<div><span translate="oym.info.terms.sub.3.1.1"></span></div>
		</div>
	</div>
</div>